<br />
<div style="width:100%">
    <div style="width:50%;float:left;" >
        <img src="../assets/demo.png" style="height:300px;width:650px;align-self: center;margin-left: 100px;" >
    </div>
    <div style="width:50%;float:right;">
        <img src="../assets/config.png" style="height:300px;width:200px;align-self: center;margin-left: 220px;" >
    </div>
</div>

 
 <br>
 <br>

<div  style="width:100%;margin-top: 50px;">
   
    <div  style="width:25%;float:left;">
        <h4>DRIP</h4>
        <ul>
            <li>
                NOMINAL_FR_R = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                NOMINAL_FR_L = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                NOMINAL_RE_R = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                NOMINAL_RE_L = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                SAMPLE_POINTS = <input type="text" placeholder="60" />
            </li>
            <li>
                MIN = <input type="text" placeholder="0.2" /> mm
            </li>
            <li>
                MAX = <input type="text" placeholder="0.8" /> mm
            </li>
            <li>
                GREEN_PERCENT = <input type="text" placeholder="80%" />
            </li>
            <li>
                RED_PERCENT = <input type="text" placeholder="20%" />
            </li>
        </ul>
    </div>
    
    <div  style="width:25%;float:left;">
        <h4>DRIP SYMMETRY</h4>
        <ul>
            <li>
                NOMINAL_FR = <input type="text" placeholder="0" /> mm
            </li>
            <li>
                NOMINAL_RE = <input type="text" placeholder="0" /> mm
            </li>
            <li>
                SAMPLE_POINTS = <input type="text" placeholder="60" />
            </li>
            <li>
                MIN = <input type="text" placeholder="-0.5" /> mm
            </li>
            <li>
                MAX = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                GREEN_PERCENT = <input type="text" placeholder="80%" />
            </li>
            <li>
                RED_PERCENT = <input type="text" placeholder="20%" />
            </li>
        </ul>
    </div>
    <div  style="width:25%;float:left;">
        <h4>B-PITCH</h4>
        <ul>
            <li>
                NOMINAL_FR = <input type="text" placeholder="1500" /> mm
            </li>
            <li>
                NOMINAL_RE = <input type="text" placeholder="1500" /> mm
            </li>
            <li>
                SAMPLE_POINTS = <input type="text" placeholder="60" />
            </li>
            <li>
                MIN = <input type="text" placeholder="1400" /> mm
            </li>
            <li>
                MAX = <input type="text" placeholder="1600" /> mm
            </li>
            <li>
                GREEN_PERCENT = <input type="text" placeholder="80%" />
            </li>
            <li>
                RED_PERCENT = <input type="text" placeholder="20%" />
            </li>
        </ul>
    </div>
    <div  style="width:25%;float:left;">
        <h4>ROOF PICK LOCATION</h4>
        <ul>
            <li>
                NOMINAL_FR = <input type="text" placeholder="0" /> mm
            </li>
            <li>
                NOMINAL_RE = <input type="text" placeholder="0" /> mm
            </li>
            <li>
                SAMPLE_POINTS = <input type="text" placeholder="60" />
            </li>
            <li>
                MIN = <input type="text" placeholder="-0.5" /> mm
            </li>
            <li>
                MAX = <input type="text" placeholder="0.5" /> mm
            </li>
            <li>
                GREEN_PERCENT = <input type="text" placeholder="80%" />
            </li>
            <li>
                RED_PERCENT = <input type="text" placeholder="20%" />
            </li>
        </ul>
    </div>
    </div>