 <!-- <canvas id="myChart" width="700" height="400"></canvas> -->

 <h1>Honda MAP Real-Time Stream</h1>

 <div id="DRIP" class="label">
   <h2> DRIP </h2>
 </div>
 
 <div id="DRIP_Container" class="container">

   <div id="DRIP_FR_L" class="a">
     <canvas id="DRIP_FR_L_Chart" width="200" height="200"></canvas>
   </div><!--DRIP_FR_L-->

   <div id="DRIP_FR_R" class="a">
     <canvas id="DRIP_FR_R_Chart" width="200" height="200"></canvas>
   </div><!--DRIP_FR_R-->

   <div id="DRIP_RE_L" class="a">
     <canvas id="DRIP_RE_L_Chart" width="200" height="200"></canvas>
   </div><!--DRIP_RE_L-->

   <div id="DRIP_RE_R" class="a">
     <canvas id="DRIP_RE_R_Chart" width="200" height="200"></canvas>
   </div><!--DRIP_RE_R-->

 </div><!--DRIP_Container-->



 <div id="DRIP_SYMMETRY" class="label">
   <h2> DRIP SYMMETRY </h2>
 </div>
 
 <div id="DRIP_SYMMETRY_Container" class="container">

   <div id="DRIP_SYMM_FRONT" class="b">
     <canvas id="DRIP_SYMM_FRONT_Chart"></canvas>
   </div><!--DRIP_SYMM_FRONT-->

   <div id="DRIP_SYMM_REAR" class="b">
     <canvas id="DRIP_SYMM_REAR_Chart"></canvas>
   </div><!--DRIP_SYMM_REAR-->

 </div><!--DRIP_SYMMETRY_Container-->



 <div id="B_PITCH" class="label">
   <h2> B-PITCH </h2>
 </div>
 
 <div id="B_PITCH_Container" class="container">

   <div id="B_PITCH_FRONT" class="c">
     <canvas id="B_PITCH_FRONT_Chart"></canvas>
   </div><!--B_PITCH_FRONT-->

   <div id="B_PITCH_REAR" class="c">
     <canvas id="B_PITCH_REAR_Chart"></canvas>
   </div><!--B_PITCH_REAR-->

 </div><!--B_PITCH_Container-->



 <div id="ROOF_PICK_LOCATION" class="label">
   <h2> ROOF PICK LOCATION </h2>
 </div>
 
 <div id="ROOF_PICK_LOCATION_Container" class="container">

   <div id="ROOF_PICK_LOC_FRONT" class="d">
     <canvas id="ROOF_PICK_LOC_FRONT_Chart"></canvas>
   </div><!--ROOF_PICK_LOC_FRONT-->

   <div id="ROOF_PICK_LOC_REAR" class="d">
     <canvas id="ROOF_PICK_LOC_REAR_Chart"></canvas>
   </div><!--ROOF_PICK_LOC_REAR-->

 </div><!--ROOF_PICK_LOCATION_Container-->



